<!DOCTYPE html>
<html>
<head>
  <title>Export Users and Tasks</title>
</head>
<body>
  <h1>Data Export</h1>
  <p>Your data has been processed for export. Click the button below to download the Excel file.</p>
  <a href="/export-data" download="users_and_tasks.xlsx">Download Excel</a>
</body>
</html>